.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(127 196 255 / 50%);
}
/* .btn{
    font-weight: 600;
    margin-top: 20px;
    width: 200px;
    font-size: 24px;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: aqua 
} */

.btn {
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  /* width: 200px; */
  font-size: 16px;
  border-radius: 6px;
  padding: 6px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-left: 50px;
  background-color: aqua;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-weight: 600;
    margin-top: 20px;
    width: 200px;
    font-size: 24px;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: aqua;
  }
}
