.list {
  width: 650px;
  height: 70px;
  display: flex;
  color: white;
  /* margin: 10px; */
}
.list .content {
  flex: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list .content span {
  display: grid;
  /* place-items: center; */
  padding-left: 20px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  width: 100%;
  height: 66px;
  font-size: 24px;
  border-right: none;
  background-color: rgba(88, 88, 199, 0.822);
}

.list button {
  flex: 15%;
  height: 100%;
  border: none;
  background-color: tomato;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}
/* .list .content span.child1 {
  width: 75%;
} */
/* .list .content span.child2 {
  width: 25%;
} */
